!!! 5
html(lang="en")
	head
		title About PC Pong
		//[if lt IE 9]
			script(src='http://html5.shim.googlecode.com/svn/trunk/html5.js')
		link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/theme.css')
	body
		.container
			.hero-unit
				h1 PC Pong
				p.
					 PC Pong is a web app designed for Ping Pong scoring for my school's Ping Pong Club.
					 PC Pong uses a node.js backend along with express.js, MongoDB, Jade, and is hosted on Heroku.
				a(href="/").btn.large.primary.disabled
					Go Home
			footer
				p 
					| &copy; Haubey Apps 2011