!!! 5
html(lang="en")
	head
		title About Haubey
		//[if lt IE 9]
			script(src='http://html5.shim.googlecode.com/svn/trunk/html5.js')
		link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/theme.css')
	body
		ul.pills
			li
				a(href='index') Home
			li.active
				a(href='about') About
			li
				a(href='apps') Apps
			li
				a(href='portfolio') Portfolio
			li
				a(href='http://blog.haubey.com') Blog
			li
				a(href='contact') Contact
		.container
			.hero-unit
				h1 I'm Max
				p I'm a high school student in the South Florida area.
			footer
				p 
					| &copy; Haubey Apps 2011