!!! 5
html(lang="en")
	head
		title PC Pong
		//[if lt IE 9]
			script(src='http://html5.shim.googlecode.com/svn/trunk/html5.js')
		link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/theme.css')
	body
		.container
			#rankings
				for user in users
					p user.name
			#recent.content
				| Hey sup again!
			footer
				p 
					| &copy; Haubey Apps 2011