!!! 5
html(lang="en")
	head
		title PC Pong
		//[if lt IE 9]
			script(src='http://html5.shim.googlecode.com/svn/trunk/html5.js')
		link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/theme.css')
		script(src='/javascripts/sha256.js')
		script(src='/javascripts/jquery.min.js')
		script
			$(document).ready(function() {
			$("#successHandler").hide();
			$("#createUser").click(function() {
				$("#successHandler").hide();
				var pw = sha256_digest(sha256_digest($('#pass').val()));
				$.ajax({
					type: 'POST',
					url: '/u/new/',
					data: {
						pass: pw,
						name: $('#name').val(),
						user: $('#user').val(),
						email: $('#email').val(),
						masspass: $('#masspass').val()
					},
					success: function(res) {
						console.log(res);
						if(res.error) {
						$("#successHandler").attr("class", "alert-message error");
						$("#successHandler").text(res.message);
						$("#successHandler").show();
						} else {
						$("#successHandler").attr("class", "alert-message  success");
						$("#successHandler").find("p").text(res.message);
						$("#successHandler").show();
						}
					},
					error: function(err) {
						console.log(err);
						$("#successHandler").attr("class", "alert-message error");
						$("#successHandler").text(err.message);
						$("#successHandler").show();
				}});
			});
			});
	body
		.container
			.hero-unit
				h2 Create a new user
				form#newUser(style="margin-bottom: 10px;")
					.clearfix
						label(for="user") Username
						.input
							input(type="text", name="user", id="user")
					.clearfix
						label(for="name") Your Name
						.input
							input(type="text", name="name", id="name")
					.clearfix
						label(for="email") Email
						.input
							input(type="text", id="email", name="email")
					.clearfix
						label(for="pass") Password
						.input
							input(type="password", name="pass", id="pass")
					.clearfix
						label(for="masspass") Master Password
						.input
							input(type="password", name="masspass", id="masspass")
				.clearfix(style="margin-bottom: 10px;")
					button(id="createUser").btn.primary.large.disabled Create User
				#successHandler
					p
				.clearfix
					a(href="/").btn.action.large.disabled Go Home
			footer
				p 
					| &copy; Haubey Apps 2011