!!! 5
html(lang="en")
	head
		title PC Pong
		//[if lt IE 9]
			script(src='http://html5.shim.googlecode.com/svn/trunk/html5.js')
		link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/theme.css')
		script(src='/javascripts/sha256.js')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/ajaxhandler.js')

	body
		.container
			.hero-unit
				h2 Create a new user
				form#newUser
					.clearfix
						label(for="user") Username
						.input
							input(type="text", name="user", id="user")
					.clearfix
						label(for="name") Your Name
						.input
							input(type="text", name="name", id="name")
					.clearfix
						label(for="email") Email
						.input
							input(type="text", id="email", name="email")
					.clearfix
						label(for="pass") Password
						.input
							input(type="password", name="pass", id="pass")
					.clearfix
						label(for="masspass") Master Password
						.input
							input(type="password", name="masspass", id="masspass")
				.clearfix
					button(id="createUser").btn.primary.large.disabled Create User
				#successHandler
				br
				.clearfix
					a(href="/").btn.action.large.disabled Go Home
			footer
				p 
					| &copy; Haubey Apps 2011