.pills .active a{background:#0366CF;color:#ffffff;}

.pills a:hover {
  background: #0366CF;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.nav {	width: 940px; margin-left: auto; margin-right: auto;}
a { color: black; text-decoration:none;}
a:hover{color: #00438A; text-decoration:none;}
.pills{width: 940px;margin-left: auto;margin-right: auto;}
.disabled:hover{text-shadow: 0.1em 0.1em 0.2em black}

body { padding-top: 5%;}



.hero-unit {
	overflow-y: hidden;
}
.hero-unit:hover {
	overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 6px;
}
 
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: grey; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(200,200,200,0.4); 
}

.usr {
	background: whiteSmoke;
	height: 50px;
	margin-bottom: 7px;
	font-size: 20px;
	
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-boder-radius: 8px;
	border-radius: 8px;

	display: box;
	box-orient: horizontal;
	display: -webkit-box;
	-webkit-box-orient: horizontal

}

.new {
	background: #C0C0C0;
}
.usr .rank {
	-webkit-box-flex: 1;
	text-align: left;
	padding-left: 10px;
	margin-top: 15px;
}

.usr .name {
	font-weight: bold;
	-webkit-box-flex: 2;
	text-align: center;
	margin-top: 15px;
	
}

.usr .match {
	font-weight: bold;
	-webkit-box-flex: 2;
	text-align: left;
	padding-left: 10px;
	margin-top: 15px;
	
}

.usr .record {
	-webkit-box-flex: 1;
	text-align: right;
	padding-right: 10px;
	margin-top: 15px;
}

.pills a{
	margin:5px 3px 5px 0;
	padding:0 15px;
	text-shadow:0 1px 1px #ffffff;
	line-height:30px;
	-webkit-border-radius: 0;
	-moz-border-raidus: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

#newmatch {
	background: whiteSmoke;
	margin-left: 0;
	margin-right: -20px;
}
